.sidebar {
    left: 0;   
    width: 250px;
    height: 100%;
    background-color: #343a40;
    color: white;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar .menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
  }
  
  .sidebar-content {
    padding-left: 1rem;
  }
  
  .sidebar-header h2 {
    margin-bottom: 1rem;
    color: white;
  }
  
  .sidebar-divider {
    margin: 1rem 0;
    border: 0;
    height: 1px;
    background-color: #ffffff;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 460px; /* Adjust height as needed */
    overflow-y: scroll; /* Adds vertical scrollbar */
    overflow-x: auto; /* Adds horizontal scrollbar if needed */
  
  }
  
  .sidebar ul li {
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li:hover {
    background-color: #495057;
  }
  
  .sidebar ul li.active {
    background-color: #212529;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      transform: translateX(-100%);
    }
  
    .sidebar.open {
      transform: translateX(0);
    }
  
    .sidebar .menu-icon {
      display: block;
    }
  }
  